.swiper {
  width: 100%;
  padding-top: 160px;
  height: 60%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 280px;
  height: 90%; 
  border-radius: 20px;
}

.swiper-slide img {
  display: block;
  width: 300px;
  height: 331.55px;
  border-radius: 10px;
}
.swiper-slide,
.swiper-slide,
.swiper-slide{
  filter: blur(4px);
}
.swiper-slide-active{
  filter: blur(0px);
}

@media (max-width:540px){
  .swiper-slide {
  width: 300px;
  height: 100%;
}
.swiper {
  padding-bottom: 50px;
}
}
@media (max-width:420px){
  .swiper-slide {
  width: 250px;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 250px;
  height: 100%;
  border-radius: 10px;
}
}